<!-- Home -->
<div class="home-color ">

  <section class="home home-page" [ngClass]="{'no-alert': !showAlert}" id="home">
    <div class="container home-container d-flex justify-content-center align-items-center">
      <div class="row w-100 align-items-center">
        <!-- Info Section -->
        <div class="col-12 col-lg-6 text-center text-lg-start">
          <div class="info">
            <h1 class="responsive-name nam-home" data-aos="fade-right">FIND CLOTHES THAT MATCHES YOUR STYLE</h1>
            <p class="text-cn" data-aos="fade-left">Browse Through our diverse range of meticulously crafted garments.
              designed <br>
              to bring out your individuality and cater to your sense of style.
            </p>
            <div class="btn rounded-5 col-lg-6 col-12 col-md-12 col-sm-12 shop-now " data-aos="fade-up" target="_blank"
              routerLink="/shop">Shop
              Now <i class="fas fa-arrow-circle-right"></i></div>
            <div class="container" data-aos="fade-up">
              <div class="row justify-content-center gy-4 mt-3">
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 text-center text-lg-start">
                  <div [@countAnimation]="brandCount1">
                    <h1>{{ brandCount1 }}+</h1>
                    <p>International Brands</p>
                  </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 text-center text-lg-start">
                  <div [@countAnimation]="brandCount2">
                    <h1>{{ brandCount2 }}+</h1>
                    <p>High-Quality Products</p>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center text-lg-start">
                  <div [@countAnimation]="brandCount3">
                    <h1>{{ brandCount3 }}+</h1>
                    <p>Happy Customers</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Image Section -->
        <div class="col-12 col-lg-6 text-center d-lg-block" data-aos="fade-up">
          <div class="home-img">
            <div class="img-box">
              <img src="./img-home/home1.jpg" alt="Alhussain" class="img-fluid w-100">
            </div>
          </div>
        </div>
      </div>
    </div>
    <main>
      <div class="slider" style="
                --width: 155px;
                --height: 102px;
                --quantity: 10;
            ">
        <div class="list">
          <div class="item" style="--position: 1"><img src="./img-home/slider1_1.png" alt=""></div>
          <div class="item" style="--position: 3"><img src="./img-home/slider1_3.png" alt=""></div>
          <div class="item" style="--position: 5"><img src="./img-home/slider1_5.png" alt=""></div>
          <div class="item" style="--position: 7"><img src="./img-home/slider1_8.png" alt=""></div>
          <div class="item" style="--position: 9"><img src="./img-home/slider1_9.png" alt=""></div>
        </div>
      </div>
    </main>
  </section>
</div>

<section class="features py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="0">
        <div class="py-5 text-fars">
          <i class="fa-regular fa-calendar icon-ho"></i>
          <h4 class="element-title text-capitalize my-3">Book An Appointment</h4>
          <p class="text-small">At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
        </div>
      </div>
      <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="300">
        <div class="py-5 text-fars">
          <i class="fa-solid fa-bag-shopping icon-ho"></i>
          <h4 class="element-title text-capitalize my-3">Pick up in store</h4>
          <p class="text-small">At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
        </div>
      </div>
      <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="600">
        <div class="py-5 text-fars">
          <i class="fa-solid fa-gift icon-ho"></i>
          <h4 class="element-title text-capitalize my-3">Special packaging</h4>
          <p class="text-small">At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
        </div>
      </div>
      <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="900">
        <div class="py-5 text-fars">
          <i class="fa-solid fa-rotate-right icon-ho"></i>
          <h4 class="element-title text-capitalize my-3">free global returns</h4>
          <p class="text-small">At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="categories overflow-hidden mt-5">
  <div class="container">
    <div class="open-up">
      <h1 class="text-center responsive-name nam-home2">NEW ARRIVALS</h1>
      <div class="row">
        <div class="col-6 col-sm-4 col-md-4" data-aos="zoom-out">
          <div class="cat-item image-zoom-effect">
            <div class="image-holder">
              <a>
                <img src="./img-home/cat-large-item1.jpg" alt="categories" class="product-image img-fluid">
              </a>
            </div>
            <div class="category-content">
              <div class="product-button">
                <a class="btn btn-common text-uppercase btn-link" [routerLink]="['/shop']"
                  [queryParams]="{category: 'men'}">
                  Shop for men
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4" data-aos="zoom-out">
          <div class="cat-item image-zoom-effect">
            <div class="image-holder">
              <a>
                <img src="./img-home/cat-large-item2.jpg" alt="categories" class="product-image img-fluid">
              </a>
            </div>
            <div class="category-content">
              <div class="product-button">
                <a class="btn btn-common text-uppercase btn-link" [routerLink]="['/shop']"
                  [queryParams]="{category: 'women'}">
                  Shop for women
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4" data-aos="zoom-out">
          <div class="cat-item image-zoom-effect">
            <div class="image-holder">
              <a>
                <img src="./img-home/cat-large-item3.jpg" alt="categories" class="product-image img-fluid">
              </a>
            </div>
            <div class="category-content">
              <div class="product-button">
                <a class="btn btn-common text-uppercase btn-link" [routerLink]="['/shop']"
                  [queryParams]="{category: 'accessories'}">
                  Shop accessories
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- New Arrivals -->

<section id="new-arrival" class="new-arrival product-carousel py-5 position-relative overflow-hidden">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
      <h4 class="text-uppercase">Our New Arrivals</h4>
      <a routerLink="/shop" class="btn-link">View All Products</a>
    </div>

    <div class="swiper product-swiper open-up">
      <div class="swiper-wrapper d-flex">
        <div class="row">
          <div class="swiper-slide col-6 col-sm-4 col-md-3" *ngFor="let product of displayedProducts"
            data-aos="fade-up">
            <div class="product-item image-zoom-effect link-effect">
              <div class="image-holder position-relative">
                <a [routerLink]="['/home-product-details', product.id]">
                  <img [src]="product.images" alt="categories" class="product-image img-fluid">
                </a>
                <a class="btn-icon btn-wishlist" (click)="saveImage(product)">
                  <i class="fa-regular fa-heart icon-heart"></i>
                </a>
                <div class="product-content">
                  <h5 class="element-title text-uppercase fs-5 mt-3">
                    <a>{{ product.name }}</a>
                  </h5>
                  <a class="text-decoration-none" data-after="Add to cart" (click)="addToCart(product)">
                    <span>{{ product.price | currency }}</span>
                  </a>
                  <a [routerLink]='["/home-product-details", product.id]' class="text-decoration-none mt-2 prod-details"
                    data-after="Show Details">
                    <span class="prod-details"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="collection bg-light position-relative py-5">
  <div class="container">
    <div class="row">
      <div class="collection-item d-flex flex-wrap my-2">
        <div class="col-md-6 column-container">
          <div class="image-holder">
            <div class="video-background">
              <video id="video1" autoplay loop muted class="product-image img-fluid">
                <source src="./vidue/vda.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
        <div class="col-md-6 column-container bg-white">
          <div class="collection-content p-5 m-0 m-md-5">
            <h3 class="element-title  text-uppercase">Classic winter collection</h3>
            <p class="text-cn">Dignissim lacus, turpis ut suspendisse vel tellus. Turpis purus, gravida orci, fringilla
              a. Ac sed eu
              fringilla odio mi. Consequat pharetra at magna imperdiet cursus ac faucibus sit libero. Ultricies quam
              nunc, lorem sit lorem urna, pretium aliquam ut. In vel, quis donec dolor id in. Pulvinar commodo mollis
              diam sed facilisis at cursus imperdiet cursus ac faucibus sit faucibus sit libero.</p>
            <a class="btn  text-uppercase mt-3 btn-link" [routerLink]="['/shop']">Shop Collection</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="testimonials py-5 bg-light carousel slide bg-white" id="carouselExampleIndicators"
  data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="section-header text-center mt-5">
    <h3 class="section-title">WE LOVE GOOD COMPLIMENT</h3>
  </div>
  <div class="carousel-inner my-5">
    <div class="carousel-item active">
      <div class="testimonial-item text-center">
        <blockquote>
          <p class="text-cn">More than expected crazy soft, <br> flexible and best fitted white simple denim shirt.</p>
          <div class="review-title text-uppercase">casual way</div>
        </blockquote>
      </div>
    </div>
    <div class="carousel-item">
      <div class="testimonial-item text-center">
        <blockquote>
          <p class="text-cn">Best fitted white denim shirt more <br> than expected crazy soft, flexible</p>
          <div class="review-title text-uppercase">uptop</div>
        </blockquote>
      </div>
    </div>
    <div class="carousel-item">
      <div class="testimonial-item text-center">
        <blockquote>
          <p class="text-cn">Best fitted white denim shirt more white denim <br> than expected flexible crazy soft.</p>
          <div class="review-title text-uppercase">Denim craze</div>
        </blockquote>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</section>

<section class="blog py-5">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
      <h4 class="text-uppercase element-title">Read Blog Posts</h4>
      <a routerLink="/new-arrivals" class="btn-link">View All</a>
    </div>
    <div class="row">
      <div class="col-md-4">
        <article class="post-item">
          <div class="post-image">
            <a [routerLink]="['/new-arrivals']">
              <img src="./img-home/post-image1.jpg" alt="image" class="post-grid-image img-fluid">
            </a>
          </div>
          <div class="post-content d-flex flex-wrap gap-2 my-3">
            <div class="post-meta text-uppercase fs-6 text-secondary">
              <span class="post-category">Fashion /</span>
              <span class="meta-day"> jul 11, 2022</span>
            </div>
            <h5 class="post-title text-uppercase">
              <a routerLink="/new-arrivals">How to look outstanding in pastel</a>
            </h5>
            <p class="text-cn">Dignissim lacus,turpis ut suspendisse vel tellus.Turpis purus,gravida orci,fringilla...</p>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="post-item">
          <div class="post-image">
            <a routerLink="/new-arrivals">
              <img src="./img-home/post-image2.jpg" alt="image" class="post-grid-image img-fluid">
            </a>
          </div>
          <div class="post-content d-flex flex-wrap gap-2 my-3">
            <div class="post-meta text-uppercase fs-6 text-secondary">
              <span class="post-category">Fashion /</span>
              <span class="meta-day"> jul 11, 2022</span>
            </div>
            <h5 class="post-title text-uppercase">
              <a routerLink="/new-arrivals">Top 10 fashion trend for summer</a>
            </h5>
            <p class="text-cn">Turpis purus, gravida orci, fringilla dignissim lacus, turpis ut suspendisse vel tellus...</p>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="post-item">
          <div class="post-image">
            <a routerLink="/new-arrivals">
              <img src="./img-home/post-image3.jpg" alt="image" class="post-grid-image img-fluid">
            </a>
          </div>
          <div class="post-content d-flex flex-wrap gap-2 my-3">
            <div class="post-meta text-uppercase fs-6 text-secondary">
              <span class="post-category">Fashion /</span>
              <span class="meta-day"> jul 11, 2022</span>
            </div>
            <h5 class="post-title text-uppercase">
              <a routerLink="/new-arrivals">Crazy fashion with unique moment</a>
            </h5>
            <p class="text-cn">Turpis purus, gravida orci, fringilla dignissim lacus, turpis ut suspendisse vel tellus...</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>