.home-color {
  background-color: rgb(242 240 241) !important;
  scroll-behavior: smooth !important;
}


.home-container .media-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
  margin-right: 40px;
}

.home-container .info .nam-home {
  color: #000;
  font-size: 4rem;
  font-weight: bold;
  line-height: 70px;
  font-family: var(--font-pro);
}

.nam-home2 {
  color: #000;
  font-size: 3rem;
  font-weight: bold;
  line-height: 70px;
  font-family: var(--font-pro);
}

.home-container .info h3 {
  color: var(--third-color);
  font-feature-settings: 1.3em;
  font-weight: 600;
  line-height: 50px;
  font-family: var(--font-pro);

}

.home-container .info p {
  font-family: var(--font-pro);
  color: var(--third-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: var(--normal-font-size);
  font-weight: 500;
  border-radius: 0.5rem;
  margin-top: 25px;
  transition: .3s ease;
}

.btn:hover {
  background: var(--hover-color);
}

.home-img .img-box img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.home-container .image {
  width: 90%;
  transform: translate(-10px, 10px);
}

.home .scroll-down {
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .scroll-down i {
  color: var(--first-color);
  font-size: 1.2rem;
  margin-left: 0.5rem;

}


/* Common styles for all sections */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  position: relative;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 2rem 2rem;
}


.shop-now {
  border: none;
  background: black;
  color: #fff;
  transition: .3s ease;
}

.shop-now:hover {
  // color: #000;
  background: #313131;
}

.line-home {
  background: #000;
  height: 9em;
  width: 100%;
}

.img-icon {
  width: 10%;
}

.img-gucci {
  width: 5%;
}

.text-iconn {
  font-size: 47px;
  font-family: var(--font-pro);
  color: white;
}


main {
  width: min(1200px, 90vw);
  margin: auto;
}

.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right,
      transparent,
      #000 10% 90%,
      transparent);
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  top: -32px;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1) - 10s) !important;
}

.slider .list .item img {
  width: 100%;
}

@keyframes autoRun {
  from {
    left: 100%;
  }

  to {
    left: calc(var(--width) * -1);
  }
}

.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.slider .item:hover {
  filter: grayscale(0);
}

.slider[reverse="true"] .item {
  animation: reversePlay 10s linear infinite;
}

@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }

  to {
    left: 100%;
  }
}

.logo__img {
  width: 20%;
  display: block;
  height: 33px;
}


.line-home {
  background: #000;
  height: 9em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
  box-sizing: border-box;
}

.text-iconn {
  font-size: 47px;
  font-family: var(--font-pro);
  color: white;
  margin: 0 15px;
  text-align: center;
  flex: 1 1 auto;
  white-space: nowrap;
}

.img-icon,
.img-gucci {
  width: 10%;
}

@media (max-width: 768px) {
  .line-home {
    flex-direction: row;
    height: auto;
    padding: 1rem 0;
    justify-content: space-between;
  }

  .text-iconn {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
  }

  .img-icon,
  .img-gucci {
    width: 20%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .text-iconn {
    font-size: 30px;
    margin: 5px 0;
  }

  .img-icon,
  .img-gucci {
    width: 30%;
  }
}


.home-color {
  background-color: rgb(242 240 241) !important;
}

.line-home {
  background: #000;
  height: auto;
  width: 100%;
  padding: 20px 0;
}

.text-iconn {
  font-size: 47px;
  font-family: var(--font-pro);
  color: white;
  padding: 10px;
}

@media (max-width: 768px) {
  .line-home {
    padding: 1rem 0;
  }

  .text-iconn {
    font-size: 36px;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .text-iconn {
    font-size: 30px;
    margin: 5px 0;
  }
}

// --------------------------------------------------------------------------------
// product home

a {
  text-decoration: none;
}



.icon-arrow {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.image-zoom-effect {
  display: flex;
  flex-wrap: wrap;
}

.image-zoom-effect .image-holder {
  width: 100%;
  height: auto;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.image-zoom-effect:hover .image-holder {
  transform: scale(0.95);
}

.image-zoom-effect img {
  transform: scale(1);
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 0;
}

.image-zoom-effect:hover img {
  transform: scale(1.1);
}

.instagram .insta-item {
  position: relative;
  margin-bottom: 20px;
}

.instagram .insta-item a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.6s ease-out;
}

.link-effect a {
  position: relative;
  padding: 0;
  overflow: hidden;
  transition: transform 0.5s;
  display: block;
  cursor: pointer;
}

.link-effect a::after {
  content: attr(data-after);
  display: inline-block;
  transform: translateY(100%);
  position: absolute;
  left: 0;
  font-size: 1rem;
  text-align: inherit;
  text-transform: uppercase;
  transition: inherit;
}

.link-effect a>span {
  display: inline-block;
  transform: translateY(0%);
  transition: inherit;
}

.link-effect:hover a>span {
  transform: translateY(-100%);
}

.link-effect:hover a::after {
  transform: translateY(0%);
}

/* product item */
.product-item .btn-wishlist {
  display: block;
  z-index: 111;
  position: absolute;
  top: 5px;
  padding: 10px;
  color: var(--bs-black);
  background: var(--bs-white);
  right: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  border-radius: 26%;

}

.product-item:hover .btn-wishlist {
  opacity: 1;
}

/* rotating text */
.text-rotate {
  animation: rotation 50s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}


/* product-thumbnail-slider */
.product-thumbnail-slider {
  height: 790px;
}

@media screen and (max-width:992px) {
  .product-thumbnail-slider {
    margin-top: 20px;
    height: auto;
  }
}

@media screen and (min-width:992px) {
  .product-thumbnail-slider {
    height: 590px;
  }
}

@media screen and (min-width:1200px) {
  .product-thumbnail-slider {
    height: 790px;
  }
}

.product-quantity .qty-number {
  margin-right: 20px;
}

.product-quantity .input-group .btn {
  height: 48px;
  border: 1px solid #ccc;
}

.qty-number .quntity-button {
  min-width: 40px;
  height: 40px;
  font-size: 1.8em;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  background-color: var(--accent-dim-color);
  transition: .5s all ease-in-out;
}

.qty-number .quntity-button:hover {
  background-color: var(--accent-lit-color);
}

.qty-number input {
  font-size: 1.4em;
  width: 50px;
  height: 40px;
  text-align: center;
  border-radius: 0;
  border: 1px solid var(--dark-color);
}

.qty-field .regular-price {
  display: none;
}

.single-product-template .breadcrumbs li {
  font-size: 1.5em;
  padding-right: 15px;
}

.single-product-template .breadcrumbs span {
  padding-left: 15px;
}

.product-preview .swiper-slide {
  padding-bottom: 15px;
}

.rating-container .rating {
  color: var(--bs-yellow);
  font-size: 1.4em;
}

.product-info .product-price strong {
  font-size: 1.6em;
  color: var(--accent-color);
  padding-right: 10px;
}

.product-info .product-price del {
  color: var(--accent-color);
}

.product-info .color-product-options .color-item {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 1px solid var(--bs-gray);
  padding: 1px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 3px;
}

.product-info .color-product-options .color-item span {
  border: 1px solid var(--dark-color);
  display: block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.product-info .color-product-options .color-item:hover {
  border: 1px dotted var(--bs-gray-300);
}

.product-info .item-title {
  width: 100%;
}

.swatch-element .swatch-label {
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  min-width: 50px;
  height: 50px;
  border: 2px solid var(--bs-gray-300);
  transition: all 0.3s;
  cursor: pointer;
  padding: 8px;
}

.swatch-element .swatch-input {
  display: none;
}

.swatch-element .swatch-input:checked+.swatch-label {
  border: 2px solid var(--bs-gray);
}


a.btn-link,
a.btn-link:after {
  transition: all .5s;
}

a.btn-link {
  position: relative;
}

a.btn-link:before,
a.btn-link:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: var(--bs-dark);
  height: 1px;
}

[data-bs-theme=dark] a.btn-link:after {
  background-color: var(--bs-white);
}

a.btn-link:before {
  background-color: var(--bs-gray);
  width: 100%;
}

a.btn-link.is-checked:after,
a.btn-link:hover:after {
  width: 100%;
}

a.btn-link.text-white:after {
  background-color: var(--bs-white);
}

a.btn-link.text-light:after {
  background-color: var(--bs-light);
}


.prod-details {
  cursor: pointer !important;
}

.element-title {
  font-family: "Playfair Display", serif !important;
  font-size: 2.5em;
}

.text-cn {
  color: rgba(0, 0, 0, 0.445) !important;
  font-weight: 600;
  font-size: 1.1em;
}


.testimonials .section-title {
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
}

.testimonial-item blockquote {
  font-size: 2.5em;
}

.testimonial-item blockquote>p {
  margin: 0;
}

.testimonials .review-title {
  font-size: 14px;
}

.carousel-item {
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.carousel-item.active {
  opacity: 1;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border: 5px solid #00000000;
  padding: 24px;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: #555;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}


.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 600px;
}

.background.pattern-bg {

  background-image: url("../../../../public/img-home/pattern-bg.png") repeat;
}


/* large text */
.title-xlarge {
  font-size: calc(2rem + 10vw);

  font-family: var(--heading-font);
  color: var(--bs-gray-300);
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 0;
}

.text-fars {
  font-family: var(--color-small-font-family);
  // color: var(--bs-gray-300);
  font-size: 20px !important;
}

.text-small {
  font-family: var(--color-small-font-family);
  color: var(--color-small-font-family) !important;
  font-size: var(--small-font-size) !important;
  font-weight: var(--small-font-weight) !important;
}

.icon-ho {
  font-size: 3em;
}

.icon-heart {
  transition: .2s ease-in;
}

.icon-heart:hover {
  color: red;
  border-radius: 50%;
}