<section class="newsletter bg-light position-relative" *ngIf="showFooter" style="background: url(./img-home/pattern-bg.png) no-repeat;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 py-5 my-5">
        <div class="subscribe-header text-center pb-3">
          <h3 class="section-title text-uppercase sign-text">Sign Up for our newsletter</h3>
        </div>
        <form id="form" class="d-flex flex-wrap gap-2">
          <input type="text" name="email" placeholder="Your Email Addresss" class="form-control form-control-lg">
          <button class="btn btn-common btn-lg sign-btn text-uppercase w-100">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="instagram position-relative bg-light">
  <div class="d-flex justify-content-center w-100 position-absolute bottom-0 z-1">
    <a class="btn btn-folow px-5">Follow us on Instagram</a>
  </div>
  <div class="row g-0">
    <div class="col-6 col-sm-4 col-md-2">
      <div class="insta-item">
        <a  target="_blank" >
          <img src="./img-home/insta-item1.jpg" alt="instagram" class="insta-image img-fluid">
        </a>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="insta-item">
        <a target="_blank">
          <img src="./img-home/insta-item2.jpg" alt="instagram" class="insta-image img-fluid">
        </a>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="insta-item">
        <a target="_blank">
          <img src="./img-home/insta-item3.jpg" alt="instagram" class="insta-image img-fluid">
        </a>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="insta-item">
        <a target="_blank">
          <img src="./img-home/insta-item4.jpg" alt="instagram" class="insta-image img-fluid">
        </a>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="insta-item">
        <a target="_blank">
          <img src="./img-home/insta-item5.jpg" alt="instagram" class="insta-image img-fluid">
        </a>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="insta-item">
        <a target="_blank">
          <img src="./img-home/insta-item6.jpg" alt="instagram" class="insta-image img-fluid">
        </a>
      </div>
    </div>
  </div>
</section>
<div class="footer pt-5 pb-3 text-dark-75 text-center text-md-start">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="info mb-5 text-col">
          <a class="navbar-brand" href="/">
            <h1 class="logo">SHOP.CO</h1>
          </a>
          <p class="mb-5 text-logo">
            We have clothes that suits your style and which you'r proud to wear. from women to men
          </p>
          <ul class="d-flex mt-5 list-unstyled gap-4">
            <li class="col-sm-2">
              <a class="d-block text-light text-center" target="_blank" href="https://www.youtube.com/">
                <i class="fa-brands fa-youtube rounded-circle p-3"></i>
              </a>
            </li>
            <li class="col-sm-2">
              <a class="d-block text-light text-center" target="_blank" href="https://www.facebook.com/">
                <i class="fa-brands fa-facebook rounded-circle p-3"></i>
              </a>
            </li>
            <li class="col-sm-2">
              <a class="d-block text-light text-center" target="_blank" href="https://www.instagram.com/">
                <i class="fa-brands fa-instagram rounded-circle p-3"></i>
              </a>
            </li>
            <li class="col-sm-2">
              <a class="d-block text-light text-center" target="_blank" href="https://x.com/">
                <i class="fa-brands fa-x-twitter rounded-circle p-3"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="links">
          <h5 class="text-col">C O M P A N Y</h5>
          <ul class="list-unstyled lh-lg">
            <li class="link"><a routerLink="/home">About</a></li>
            <li class="link"><a routerLink="/products">Features</a></li>
            <li class="link"><a routerLink="/about-us">Works</a></li>
            <li class="link"><a routerLink="/privacy-policy">Carreer</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="links">
          <h5 class="text-col">H E L P</h5>
          <ul class="list-unstyled lh-lg">
            <li class="link"><a routerLink="/home">Customer Support</a></li>
            <li class="link"><a routerLink="/products">Delivery Details</a></li>
            <li class="link"><a routerLink="/about-us">Terms & Conditions</a></li>
            <li class="link"><a routerLink="/privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="links">
          <h5 class="text-col">F A Q</h5>
          <ul class="list-unstyled lh-lg">
            <li class="link"><a routerLink="/home">Account</a></li>
            <li class="link"><a routerLink="/products">Manage Deliveries</a></li>
            <li class="link"><a routerLink="/about-us">Orders</a></li>
            <li class="link"><a routerLink="/privacy-policy">Payments</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="links">
          <h5 class="text-col">R E S O U R C E S</h5>
          <ul class="list-unstyled lh-lg">
            <li class="link"><a routerLink="/home">Free eBooks</a></li>
            <li class="link"><a routerLink="/products">Development</a></li>
            <li class="link"><a routerLink="/about-us">How to - Blog</a></li>
            <li class="link"><a routerLink="/privacy-policy">Youtube Playlist</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="mb-4">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center text-center text-md-start">
      <div class="mb-3 mb-md-0">
        <div class="text-rg">Shop.co &copy; 2024-2025. All Rights Reserved</div>
      </div>
      <div class="d-flex gap-2 justify-content-center">
        <div class="bord">
          <img src="./pymatn-photo/visa.png" alt="Visa" class="payment-img">
        </div>
        <div class="bord">
          <img src="./pymatn-photo/paypal.png" alt="PayPal" class="payment-img">
        </div>
        <div class="bord">
          <img src="./pymatn-photo/stripe.png" alt="Stripe" class="payment-img">
        </div>
        <div class="bord">
          <img src="./pymatn-photo/mastercard.png" alt="MasterCard" class="payment-img">
        </div>
      </div>
    </div>
  </div>
</div>
