.logo {
  font-weight: bold;
}

.logo,
.text-col {
  color: #000 !important;
  font-family: var(--font-pro);
}

.footer {
  background: var(--color-background);
}

.footer .copyright>span {
  color: var(--color-background)
}

.footer .fa-facebook {
  background-color: #fff;
  color: #000;
  transition: .3s ease;
}

.footer .fa-facebook:hover {
  background-color: #c2c2c2
}

.footer .fa-instagram {
  background-color: #fff;
  color: #000;
  transition: .3s ease;
}

.footer .fa-instagram:hover {
  background-color: #c2c2c2
}

.footer .fa-youtube {
  background-color: #fff;
  color: #000;
  transition: .3s ease;
}

.footer .fa-youtube:hover {
  background-color: #c2c2c2
}

.footer .fa-x-twitter {
  background-color: #fff;
  color: #000;
  transition: .3s ease;
}

.footer .fa-x-twitter:hover {
  background-color: #c2c2c2
}

.link a {
  position: relative;
  font-weight: 500;
  font-size: 1em;
  text-decoration: none;
  color: #00000093 !important;
  transition: .3s ease;
}
.link a:hover {
  color: #000000be !important;
}



.text-logo {
  color: #00000093 !important;
}

.payment-img {
  width: 30px;
  height: auto;
  margin: 0 5px;

}


.bord{
  background-color: #ffffff93;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s ease;
}

.bord:hover{
  background-color: #cacaca;
}

.text-rg{
  color: #00000093;
  font-weight: 500;
}

.btn-folow {
  background-color: #000000;
  color: #fff;
  transition: .3s ease;
}

.btn-folow:hover {
  background-color: #181818;

}

.sign-btn {
  background-color: #000000;
  color: #fff;
  transition: .3s ease;
}

.sign-btn:hover {
  background-color: #2b2b2b;

}

.sign-text {
  font-family: "Playfair Display", serif !important;
  font-size: 2.9em;
}

.instagram .insta-item {
  position: relative;
  margin-bottom: 20px;
}

.instagram .insta-item a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.6s ease-out;
}