.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 16px;
    font-family: var(--font-pro);
}

.payment-section {
    padding: 48px 0
}

.payment-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px
}

.payment-header {
    padding: 24px 24px 72px;
    background-color: black;
    border-radius: 12px
}

.totall {
    color: #000;
    font-size: 20px;
    font-weight: 500
}

.payment-content::before,
.payment-header-icon {
    background-color: #fff
}

.payment-header-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px
}

.payment-header-title {
    font-size: 20px;
    font-weight: 600;
    color: white;
    line-height: 1.4;
    margin-bottom: 4px
}

.payment-header-description {
    font-size: 15px;
    color: white;
    line-height: 1.5
}

.payment-content {
    padding: 24px;
    margin-top: -64px;
    position: relative
}

.payment-content::before {
    content: '';
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 32px);
    height: 16px;
    border-radius: 4px
}

.payment-body {
    background-color: white;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .05), inset 0 8px 0 rgba(0, 0, 0, .05);
    position: relative;
    padding-top: 8px;
    overflow: hidden
}

.payment-plan-change,
.payment-plan-type {
    background-color: #000;
    font-weight: 600
}

.payment-plan {
    display: flex;
    align-items: center;
    padding: 12px
}

.payment-plan-type {
    width: 40px;
    height: 40px;
    color: white;
    font-size: 13px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 8px
}

.payment-plan-info {
    width: 100%;
    margin-right: 8px;
    display: grid
}

.payment-plan-info-name {
    font-size: 15px;
    color: #000;
    margin-bottom: 2px

}

.payment-plan-info-price {
    font-weight: 600
}

.payment-plan-change {
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
    white-space: nowrap;
    padding: 10px;
    border-radius: 8px;
    font-size: 12px;
    text-underline-offset: 2px
}

.payment-summary-divider::after,
.payment-summary-divider::before {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
    box-shadow: inset 0 2px 16px rgba(0, 0, 0, 0.295);
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.payment-summary-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px
}

.payment-form-group-flex,
.payment-method {
    align-items: center;
    display: flex
}

.payment-summary-name {
    font-size: 14px;
    color: #6b7280
}

.payment-summary-price {
    font-weight: 500;
    font-size: 15px
}

.payment-summary-divider {
    width: calc(100% - 16px);
    height: 0;
    margin: 12px auto;
    border-bottom: 1px dashed var(--gray-200);
    position: relative
}

.payment-form-control:focus,
input:checked+.payment-method-item {
    border-color: black
}

.payment-summary-divider::before {
    right: 100%
}

.payment-summary-divider::after {
    left: 100%
}

.payment-summary-total {
    padding-bottom: 16px
}

.payment-summary-total .payment-summary-price {
    font-size: 16px;
    font-weight: 600
}

.payment-right {
    min-width: 0
}

.payment-form {
    padding: 24px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%)
}

.payment-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.3
}

.payment-method {
    overflow-x: auto;
    padding: 6px 7px;
    margin-bottom: 12px;
    width: 100%
}

.payment-method input {
    display: none
}

.payment-method-item {
    width: 85px;
    height: 80px;
    padding: 8px;
    border: 1px solid #6b728044;
    border-radius: 8px;
    margin-right: 12px;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
    transition: .5s
}

.payment-method-item:hover {
    transform: scale(1.1)
}

input:checked+.payment-method-item::before {
    content: '';
    position: absolute;
    top: -6px;
    right: -6px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: black;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjAwMDcgMTUuMTcwOUwxOS4xOTMxIDUuOTc4NTJMMjAuNjA3MyA3LjM5MjczTDEwLjAwMDcgMTcuOTk5M0wzLjYzNjcyIDExLjYzNTRMNS4wNTA5MyAxMC4yMjEyTDEwLjAwMDcgMTUuMTcwOVoiIGZpbGw9InJnYmEoMjU1LDI1NSwyNTUsMSkiPjwvcGF0aD48L3N2Zz4=");
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat
}

.payment-method-item>img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.payment-form-group {
    position: relative;
    margin-bottom: 16px
}

.payment-form-control {
    outline: transparent;
    border: 1px solid black;
    border-radius: 8px;
    padding: 24px 16px 8px;
    width: 100%;
    transition: .15s ease-in-out
}

.payment-form-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    color: var(--gray-400);
    pointer-events: none;
    transition: .3s ease-in-out
}

.payment-form-control:focus {
    outline: 1px solid var(--indigo-500)
}

.payment-form-control:focus+.payment-form-label,
.payment-form-control:not(:placeholder-shown)+.payment-form-label {
    top: 30%;
    font-size: 12px
}

.payment-form-label-required::after {
    content: ' *';
    color: var(--red-500)
}

.payment-form-group-flex>* {
    width: 100%
}

.payment-form-group-flex>:not(:last-child) {
    margin-right: 12px
}

.payment-form-submit-button {
    background-color: black;
    border-radius: 8px;
    outline: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    cursor: pointer;
    color: var(--white);
    font-weight: 600;
    padding: 16px;
    transition: .3s ;
}

.payment-form-submit-button:hover {
    background-color: rgba(0, 0, 0, 0.795)
}
.payment-form-submit-button>i {
    margin-right: 8px
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

@media screen and (max-width:767px) {
    .payment-wrapper {
        grid-template-columns: 1fr
    }

    .payment-content {
        padding: 16px
    }

    .payment-content::before {
        top: 16px;
        width: calc(100% - 20px)
    }

    .payment-form-group-flex {
        display: block
    }
}


a.btn-link,
a.btn-link:after {
    transition: all .5s;
}

a.btn-link:hover {
    // text-decoration: none;
    background-color: rgb(216, 216, 216);
}
a.btn-link {
    position: relative;
    width: 100%;
}

a.btn-link:before,
a.btn-link:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: var(--bs-dark);
    height: 1px;
}

[data-bs-theme=dark] a.btn-link:after {
    background-color: var(--bs-white);
}

a.btn-link:before {
    background-color: var(--bs-gray);
    width: 100%;
}

a.btn-link.is-checked:after,
a.btn-link:hover:after {
    width: 100%;
}

a.btn-link.text-white:after {
    background-color: var(--bs-white);
}

a.btn-link.text-light:after {
    background-color: var(--bs-light);
}

.payment-plan-change:hover{

    background-color: rgba(0, 0, 0, 0.705);
}