a {
    text-decoration: none;
}

li {
    list-style: none;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: var(--light);
    z-index: 20000;
    font-family: var(--lato-fonts);
    transition: .5s ease;
    overflow: hidden;
    scrollbar-width: none;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar.hide {
    width: 60px;
}

#sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

#sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

#sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

#sidebar .side-menu li.active {
    background: var(--grey);
    position: relative;
}

#sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

#sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;

}

#sidebar .side-menu.top li.active a {
    color: var(--blue);

}

#sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
}

#sidebar .side-menu li a.logout {
    color: var(--red);
}

#sidebar .side-menu li a:hover {
    color: var(--blue);
}

#sidebar .side-menu.top li a .bx {
    min-width: calc(60px - (4px + 6px)* 2);
    display: flex;
    justify-content: center;
}

/* sidebar style end */

#content {
    transition: .3s ease;
}

#sidebar.hide~#content {
    width: calc(100% - 60px);
    left: 60px;
}

/* Navbar */

#content nav {
    /* height: 56px; */
    background: var(--light);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: var(--lato-fonts);
    position: sticky;
    top: 2px;
    left: 0;
    z-index: 1000;
}

#content nav::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

#content nav a {
    color: var(--dark);
}

#content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
    padding: 10px;
    background: #eee;
    border-radius: 10px;
    transition: .4s ease;
}

#content nav .bx.bx-menu:hover {
    background: #ddd;
}

#content nav .nav-link {
    font-size: 17px;
    transition: .3s ease;
}

#content nav .nav-link:hover {
    color: var(--blue);
}

#content nav form {
    width: 52vw;
    margin-right: auto;
}

#content nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}

#content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    transition: .3s ease;
    color: var(--dark);
}

#content nav form .form-input input:hover {
    background: #ddd;
}

#content nav form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

#content nav .notification {
    font-size: 20px;
    position: relative;
    width: 10px;
}

#content nav .notification .num {
    position: absolute;
    top: -9px;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--red);
    color: var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content nav .profile {
    display: flex;
    border-bottom: 1px solid #d6dce0;
    margin-bottom: 2px;
    padding: 10px 15px;
    transition: 0.2s;
    border-radius: 4px;
}

#content nav .profile img {
    width: 49px;
    height: 49px;
    border-radius: 50%;

}



#content nav .swith-mode {
    min-width: 3.6vw;
    height: 1.9vw;
    border-radius: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
}


#content nav .swith-mode::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 4px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--blue);
    border-radius: 50%;
    transition: all 0.3s ease;
}


/*  main  */

#content main {
    padding: 36px 24px;
    // width: 97.9vw;
    font-family: var(--primary-fonts);
    max-height: 300vh;
    overflow: hidden;
}

#content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

#content main .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}


#content main .head-title .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    cursor: pointer;
}

#content main .head-title .left .breadcrumb li {
    color: var(--dark);
}

#content main .head-title .left .breadcrumb li a {
    color: var(--dark-grey);
    pointer-events: none;
}

#content main .head-title .left .breadcrumb li a.active {
    color: var(--blue);
    pointer-events: unset;

}

#content main .head-title .btn-download {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--blue);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
}

#content main .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 335px));
    grid-gap: 24px;
    margin-top: 26px;
}

#content main .box-info li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

#content main .box-info li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content main .box-info li:nth-child(1) .bx {
    background: var(--light-blue);
    color: var(--blue);
}

#content main .box-info li:nth-child(2) .bx {
    background: var(--light-yellow);
    color: var(--yellow);
}

#content main .box-info li:nth-child(3) .bx {
    background: var(--light-orange);
    color: var(--orange);
}

#content main .box-info li .text h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

#content main .box-info li .text p {
    color: var(--dark);
}

#content main .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

#content main .table-data>div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: hidden;
}

#content main .table-data .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 600;
}

#content main .table-data .head .bx {
    cursor: pointer;
}

#content main .table-data .order {
    flex-grow: 1;
    flex-basis: 500px;
}

#content main .table-data .order table {
    width: 100%;
    border-collapse: collapse;
}

#content main .table-data .order table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

#content main .table-data .order table td {
    padding: 16px 0;
}

#content main .table-data .order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

#content main .table-data .order table td img {
    width: 40px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}


#content main .table-data .order table tbody tr:hover {
    background: var(--grey);
}

#content main .table-data .order table tr td .status {
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

#content main .table-data .order table tr td .status.completed {
    background: var(--blue);
}

#content main .table-data .order table tr td .status.process {
    background: var(--orange);
}

#content main .table-data .order table tr td .status.pending {
    background: var(--red);
}


#content main .table-data .todo {
    flex-grow: 1;
    flex-basis: 300px;
}

#content main .table-data .todo .tada-list {
    width: 100%;
}

#content main .table-data .todo .tada-list li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    border-radius: 10px;
    padding: 0px 20px;
    display: flex;
    /* justify-content: left; */
    align-items: center;

}

#content main .table-data .todo .tada-list li .bx {
    cursor: pointer;

}

#content main .table-data .todo .tada-list li.completed {
    border-left: 40px solid var(--blue);
}

#content main .table-data .todo .tada-list li.dd {
    border-left: 100px solid var(--blue);
}

#content main .table-data .todo .tada-list li.not-completed {
    border-left: 10px solid var(--orange);
}

/* Responsive design */

@media screen and (max-width: 768px) {
    #sidebar {
        width: 200px;
    }

    #content {
        left: 200px;
    }

    #content nav .nav-link {
        display: none;
    }
}


@media screen and (max-width: 576px) {
    #content nav form .form-input input {
        display: none;
    }

    #content nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        border-radius: none;
        color: var(--dark);
    }

    #content nav form .form-input input {
        display: block;
        width: 100%;
    }

    #content nav form.show .form-input button {
        width: 36px;
        height: 100%;
        border-radius: 0 36px 36px 0;
        color: var(--light);
        background: var(--red);
    }

    #content nav form.show~.notification,
    #content nav form.show~.profile {
        display: none;
    }

    #content main .box-info {
        grid-template-columns: 1fr;
    }

    #content main .table-data .head {
        min-width: 420px;
    }

    #content main .table-data .todo .tada-list {
        min-width: 420px;
    }
}

.card {
    border: none;
    border-radius: 0.35rem;
}

.card-header {
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}

.chart-area {
    position: relative;
}

.chart-bars {
    position: relative;
    width: 100%;
}

.bar-group {
    position: relative;
    width: 14.2857142857%;
    margin: 0 100px;
    background: #1cc88a;
    padding-top: 59px;
}

.bar {
    width: 30%;
    margin: 0 1px;
    border-radius: 3px 3px 0 0;
    transition: height 0.5s ease;
    position: relative;

    &:hover {
        opacity: 0.8;
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.text-xs {
    font-size: 0.7rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.chart-line {
    width: 100%;
    overflow: visible;
}

.chart-line svg {
    overflow: visible;
}

.chart-container {
    width: 100%;
    overflow: visible;
}

.chart-container svg {
    overflow: visible;
}

path {
    stroke-linecap: round;

}

.btn-delete {
    background: #000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    transition: all 0.3s;

    &:hover {
        background: #000000da;
    }

    i {
        font-size: 14px;
    }
}

.status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background: #ff4444;
}