<!-- content -->
<section class="py-5 section-cont">
    <div class="container">
        <div class="row">
            <aside class="col-lg-6">
                <div class="d-block d-lg-none mb-3">
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active rounded-5" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                                aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                                aria-label="Slide 6"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                                aria-label="Slide 7"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
                                aria-label="Slide 8"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8"
                                aria-label="Slide 9"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9"
                                aria-label="Slide 10"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10"
                                aria-label="Slide 11"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img [src]="mainImage" class="d-block w-100" alt="Main Image">
                            </div>
                            <ng-container *ngFor="let image of oneProduct?.images; let i = index">
                                <div class="carousel-item">
                                    <img [src]="image" class="d-block w-100" alt="Image {{ i + 1 }}">
                                </div>
                            </ng-container>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="d-none d-lg-block">
                    <div class="mb-3 d-flex justify-content-center">
                        <a data-fslightbox="mygalley" data-type="image">
                            <img class="fit" [src]="mainImage" />
                        </a>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center mb-3 img-cont" *ngIf="oneProduct?.images">
                        <ng-container *ngFor="let image of oneProduct?.images; let i = index">
                            <a data-fslightbox="mygalley" class="mx-1 mb-2 item-thumb" data-type="image"
                                (click)="changeMainImage(image)">
                                <img class="img-small" [src]="image" />
                            </a>
                        </ng-container>
                    </div>
                </div>
            </aside>
            <main class="col-lg-6" >
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        {{ oneProduct?.name }}
                    </h4>
                    <div class="d-flex flex-row my-3">
                        <div class="text-warning mb-1 me-2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span class="ms-1">
                                4.5
                            </span>
                        </div>
                        <span class="text-muted text-small"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154
                            orders</span>
                        <span class="text-success ms-2">In stock</span>
                    </div>
                    <div class="mb-3 price-text">
                        <span class="h5">{{oneProduct?.price | currency }}</span>
                    </div>
                    <p class="text-small">
                        {{ oneProduct?.description }}
                    </p>
                    <div class="row">
                        <h6 class="col-3">Type:</h6>
                        <dd class="col-9 text-small">{{ oneProduct?.type }}</dd>
                        <h6 class="col-3">Category</h6>
                        <dd class="col-9 text-small">{{ oneProduct?.category }}</dd>
                        <h6 class="col-3 mb-3">Color</h6>
                        <dd class="col-9 text-small">{{ oneProduct?.color }}</dd>
                        <h6 class="col-3">Material</h6>
                        <dd class="col-9 text-small">{{ oneProduct?.material }}</dd>
                    </div>
                    <hr />
                    <div class="  " >
                        <div class="row mb-4">
                            <div class="col-md-12 col-12" >
                                <label class="mb-2">Size</label>
                                <select class="form-select border border-secondary">
                                    <option selected disabled>{{ oneProduct?.sizes?.join(', ') }}</option>
                                    <option>Small</option>
                                    <option>Medium</option>
                                    <option>Large</option>
                                    <option>X Large</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center" >
                        <a class="btn btn-link"> Buy now </a>
                        <a class="btn btn-link" (click)="addToCart()"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart
                        </a>
                        <a class="btn py-2 icon-hover px-3 btn-link" (click)="saveImage(oneProduct)"> <i class="me-1 fa fa-heart fa-lg"></i>
                            Save </a>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>