.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
}

.icon-hover:hover i {
    color: #3b71ca !important;
}

.img-small {
    width: 150px;
    height: 180px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.carousel-item img {

    object-fit: cover;
}
.carousel-indicators [data-bs-target] {
    border-radius: 50% !important;
    width: 10px !important;
    height: 10px !important;
    margin: 0 5px !important;
    border: 3px solid #000 !important;
    padding: 5px !important;
}