.section-cont {
    font-family: var(--font-pro);
}


.icon-hover:hover {
    background-color: white !important;
    color: rgb(214, 0, 0) !important;
}


.img-small {
    width: 150px;
    height: 180px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

div .item-thumb {
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}

div .item-thumb:hover {
    transform: scale(1.05);
}

.carousel-item img {

    object-fit: cover;
}

.carousel-indicators [data-bs-target] {
    border-radius: 50% !important;
    width: 3px !important;
    height: 1px !important;
    margin: 0 5px !important;
    border: 3px solid #000 !important;
    padding: 5px !important;
}
a{
    text-decoration: none !important;

}

a.btn-link,
a.btn-link:after {
    transition: all .5s;
}

a.btn-link {
    position: relative;
}

a.btn-link:before,
a.btn-link:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: var(--bs-dark);
    height: 1px;
}

[data-bs-theme=dark] a.btn-link:after {
    background-color: var(--bs-white);
}

a.btn-link:before {
    background-color: var(--bs-gray);
    width: 100%;
}

a.btn-link.is-checked:after,
a.btn-link:hover:after {
    width: 100%;
}

a.btn-link.text-white:after {
    background-color: var(--bs-white);
}

a.btn-link.text-light:after {
    background-color: var(--bs-light);
}

.text-small{
    color: var(--color-small-font-family) !important;
    font-size: var(--small-font-size) !important;
    font-weight: var(--small-font-weight) !important;
}


h4 {
    font-size: calc(1.275rem + .3vw);
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
    text-transform: uppercase !important;

}
h6{
    text-transform: uppercase !important;
    font-weight: 600;
}
.price-text{
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase !important;
}

.product-preview .swiper-slide {
    padding-bottom: 15px;
}
.product-item .btn-wishlist {
    display: block;
    z-index: 111;
    position: absolute;
    top: 5px;
    padding: 10px;
    color: var(--bs-black);
    background: var(--bs-white);
    right: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.product-item:hover .btn-wishlist {
    opacity: 1;
}
.image-zoom-effect {
    display: flex;
    flex-wrap: wrap;
}

.image-zoom-effect .image-holder {
    width: 100%;
    height: auto;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.image-zoom-effect:hover .image-holder {
    transform: scale(0.95);
}

.image-zoom-effect img {
    transform: scale(1);
    will-change: transform;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 0;
}

.image-zoom-effect:hover img {
    transform: scale(1.1);
}

.link-effect a {
    position: relative;
    padding: 0;
    overflow: hidden;
    transition: transform 0.5s;
    display: block;
}

.link-effect a::after {
    content: attr(data-after);
    display: inline-block;
    transform: translateY(100%);
    position: absolute;
    left: 0;
    font-size: 1rem;
    text-align: inherit;
    text-transform: uppercase;
    transition: inherit;
}

.link-effect a>span {
    display: inline-block;
    transform: translateY(0%);
    transition: inherit;
}

.link-effect:hover a>span {
    transform: translateY(-100%);
}

.link-effect:hover a::after {
    transform: translateY(0%);
}

.image-zoom-effect .image-holder {
    width: 100%;
    height: auto;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.image-zoom-effect:hover .image-holder {
    transform: scale(0.95);
}
.element-title {
    font-family: "Playfair Display", serif !important;
    font-size: 2.5em;
}