<!-- Alert -->
<div *ngIf="showAlert" class="alert-container bg-black text-white fade show d-flex align-items-center " role="alert">
  
  <div class="text-center flex-grow-1">
    <p>{{message}} <a class="text-white" routerLink="/">{{button}}</a></p>
  </div>
  <div class="close">
    <button type="button" class="btn icn-close" aria-label="Close" (click)="hideMessage()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-white p-2 sticky-top bg-white">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand fw-bold fs-3 text-uppercase text-logo" routerLink="/">SHOP.CO</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 link-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/on-sale">On Sale</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/arrivals">New Arrivals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/brnds">Brnds</a>
        </li>
      </ul>
      <form class="d-flex w-50" role="search">
        <div class="input-container position-relative w-100">
          <i
            class="fa-solid fa-magnifying-glass search-icon position-absolute top-50 start-0 translate-middle-y mx-3"></i>
          <input class="form-control me-2 rounded-5 pt-2 pb-2 ps-5" type="search" placeholder="Search"
            aria-label="Search">
        </div>


        <!-- <div class="icon-cart position-relative">
          <a>
            <i class="fa-solid fa-cart-shopping fa-2xl icon-shop"></i>
            <span id="counter" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              ss
            </span>
          </a>
        </div> -->

        <div class="btn shop-icon" routerLink="/cart">
          <i class="fa-solid fa-cart-shopping mx-1 mt-3 "></i>
        </div>
        <div class="btn shop-icon">
          <i class="fas fa-heart  mt-3"></i>
        </div>
        <div class="btn shop-icon" routerLink="/product-details">
          <i class="fa-solid fa-user mx-2 mt-3 "></i>
        </div>

      </form>
      
    </div>
    
  </div>
</nav>
