.bg-black {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  position: relative;
}
.flex-grow-1 {
  flex-grow: 1;
  text-align: center;
}
.close {
  margin-right: 10px;
}
.icn-close {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: .3s ease;
}
.icn-close:hover {
  color: rgb(192, 192, 192) !important;
}
.text-logo {
  font-family: var(--font-pro);
  margin-left: 2.5rem;
}
.link-nav {
  font-size: 17px;
  font-family: var(--font-pro);
}
.sersh {
  margin-right: 2.5rem;
}
.input-container {
  position: relative;
}
.search-icon {
  font-size: 18px;
}
.form-control {
  padding-left: 30px;
}

.shop-icon{
  border: none !important;
  position: relative;
  bottom: 4px;
}
.shop-icon:hover{
  color: rgb(129, 129, 129) !important;
  transition: .3s ease;
}