.bg-black {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  position: relative;
}
.flex-grow-1 {
  flex-grow: 1;
  text-align: center;
}
.close {
  margin-right: 10px;
}
.icn-close {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: .3s ease;
}
.icn-close:hover {
  color: rgb(192, 192, 192) !important;
}
.text-logo {
  font-family: var(--font-pro);
  margin-left: 2.5rem;
}
.link-nav {
  font-size: 17px;
  font-family: var(--font-pro);
}
.sersh {
  margin-right: 2.5rem;
}
.input-container {
  position: relative;
}
.search-icon {
  font-size: 18px;
}
.form-control {
  padding-left: 30px;
}


// /* تثبيت الـ Alert في الأعلى */
// .alert-container {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   z-index: 1050;
//   /* تأكد من أن الـ Alert يظهر فوق الـ Navbar */
//   background-color: black;
//   /* لون الخلفية */
//   color: white;
//   /* لون النص */
//   // padding: 10px 0;
//   /* تعديل الحشو حسب الحاجة */
//   text-align: center;
//   /* توسيط النص */
// }

// /* تثبيت الـ Navbar أسفل الـ Alert */
// .navbar {
//   position: fixed;
//   top: 40px;
//   left: 0;
//   width: 100%;
//   z-index: 1040;
//   transition: top 0.3s;
//   background: white;
// }

// .navbar.no-alert {
//   top: 0;
// }

