/* src/app/components/add-product/add-product.component.scss */
.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    border-radius: 10px 10px 0 0 !important;
}

.form-control,
.form-select {
    border-radius: 5px;
    padding: 10px;
}

.btn {
    border-radius: 5px;
    padding: 8px 16px;
}

.badge {
    font-size: 0.9rem;
    padding: 0.5em 0.8em;
    border-radius: 50px;
}

.btn-close {
    font-size: 0.6rem;
}

.img-thumbnail {
    border-radius: 5px;
}