/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
  --font-pro: 'Poppins', sans-serif;
  --color-background: #f2f0f1;
  --second-color: #000;

    --bs-primary-rgb: 140, 144, 126;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-black-rgb: 17, 17, 17;
    --bs-light-rgb: 241, 241, 240;
    --bs-dark-rgb: 33, 37, 41;

    --bs-link-color: #111;
    --bs-link-color-rgb: 17, 17, 17;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #111;
    --bs-link-hover-color-rgb: 17, 17, 17;

    --color-small-font-family: rgba(0, 0, 0, 0.445) !important;
    --small-font-size: 1.1em;
    --small-font-weight: 600 !important;


}
